:root {
  --bg-color: rgb(236, 236, 236); /* Background color */
  --el-color: #242424; /* Element color */
  --txt-color: rgb(236, 236, 236); /* Text color */

  /* alt color: rgb(155, 23, 0) rgb(85, 32, 230)*/
  --highlight-color: rgb(85, 32, 230); /* Highlight gradient color color */

  --faded-color: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-bottom: 10%;
}

h4 {
  margin-top: 3%;
  font-size: 10px;
}

.container {
  width: 40%;
  min-height: 55vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(134, 134, 134);
}

.position {
  text-align: center;
  margin-top: 3%;
}

.something {
  width: 30%;
}

.textField {
  border: 0;
}

input:placeholder-shown {
  border: 0;
}

.button {
  border-radius: 20px;
  margin-top: 10%;
  height: 30px;
  width: 40%;
  border: 0;
}
