/* Table of contents */
/* 
  1. Content
  2. Activities table
  3. Details window
  4. Week's schedule
  5. Footer
  6. Animations
*/

:root {
  --bg-color: rgb(236, 236, 236); /* Background color */
  --el-color: #242424; /* Element color */
  --txt-color: rgb(236, 236, 236); /* Text color */
  --faded-color: #aaaaaa;
  --border-radius: 0 0.5rem 0.5rem 0.5rem;

  /* alt color: rgb(155, 23, 0) rgb(85, 32, 230)*/
  --highlight-color: rgb(85, 32, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.flex {
  display: flex;
}

.btn-submit,
.clickable {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s;
}

.btn-submit:hover,
.clickable:hover {
  opacity: 0.7;
}

.btn-submit:active,
.clickable:active {
  opacity: 0.5;
}

/* Widely shared attributes */
.navbar,
.activities-table,
.details-window,
.schedule-day {
  background-color: var(--el-color);
}

.activities-table,
.details-window,
.schedule-day {
  border-radius: var(--border-radius);
}

/* -------------- */
/* Navigation bar */
/* -------------- */

.navbar {
  width: 100vw;
}

.nav-content {
  width: 85%;
  padding: 1rem 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

/* Aligns nav links to the center vertically */
.nav-links {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.1s;
}

.nav-link:hover {
  opacity: 1;
}

/* ------------ */
/* Page content */
/* ------------ */

/* Page content */
.container {
  /* Dimensions */
  width: 1200px;
  height: 55vh;

  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Content display */
  display: grid;
  grid-template: 3fr 1fr / repeat(7, 1fr);
  grid-template-areas:
    "t t t t d d d"
    "s s s s s s s";
  grid-gap: 2.1rem 1rem;
}

/* --------------- */
/* Acivities table */
/* --------------- */

/* TODO: Fix the border covering the edges, making the table appear smaller and edges look sharper */
.activities-table {
  grid-area: t;
  border-radius: var(--border-radius);
}

.activities-table table {
  width: 100%;
  border-radius: var(--border-radius);
}

.activities-table,
.activities-table * {
  border: solid var(--bg-color);
  border-width: 2px;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
}

.excess {
  height: 100%;
}

/* -------------- */
/* Details window */
/* -------------- */

.details-window {
  grid-area: d;
}

.placeholder {
  /* Placement */
  grid-area: d;
  width: 100%;
  height: 100%;
  position: absolute;

  /* Visuals */
  border-radius: var(--border-radius);
  border: 4px dashed var(--faded-color);
  color: var(--faded-color);

  /* Text aligning */
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /* Ordering layer */
  z-index: -1;
}

.hidden {
  display: none;
}

.details-window-content {
  height: 100%;
  width: 100%;

  padding: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3rem;
}

.btn-submit {
  height: 3rem;
  background-color: var(--bg-color);
  border: 0;
  border-radius: 10rem;
  font-weight: bold;
  font-size: 1rem;
}

/* --------------- */
/* Week's schedule */
/* --------------- */

.week {
  grid-area: s;

  display: grid;
  grid-template: 100% / repeat(7, 1fr);
  grid-gap: 1rem;
}

.schedule-day {
  width: 100%;
}

/* Credit: https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.schedule-day:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.day-name {
  position: absolute;
  font-size: 1.4rem;
  transform: translate(-1%, -71%);
  color: var(--el-color);
  font-weight: 600;
  pointer-events: none;
}

.day {
  width: inherit;
  position: absolute;
  padding: 0.3rem;
  list-style: none;
  border: 1px dashed yellow;
}

.activity {
  /* padding: 0.3rem 0; */
}

.activity span {
  display: inline-block;
}

.activity .name {
  font-weight: bold;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px dashed red;
}

.activity .time {
  font-style: italic;
  color: var(--faded-color);
  border: 1px dashed green;
}

/* ------ */
/* Footer */
/* ------ */

.creators {
  position: absolute;
  bottom: 3vh;
  left: 50vw;
  transform: translateX(-50%);
  color: var(--el-color);
  text-align: center;
  pointer-events: none;
}

/* ---------- */
/* Animations */
/* ---------- */
