:root {
  /* Colors */
  --el-color: #e9e9e9;
  --bg-color: #e9e9e9;
  --txt-color: #131313;
  --1c: #d12c63;
  --2c: #ec673e;

  /* Settings */
  --grid-gap: 1.2rem;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: var(--el-color);
  color: var(--txt-color);

  box-shadow: 0 0 8px #b1b1b1;
}

.nav-content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.nav-links {
  list-style: none;
  height: fit-content;
  flex-direction: row;
  gap: 1rem;
}

.nav-link a {
  text-decoration: none;
  color: var(--txt-color);
}

.container {
  width: min(1300px, 100vw);
  height: fit-content;

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  /* border: 2px dashed pink; */
  padding: 1rem;

  flex-direction: column;
  gap: var(--grid-gap);
}

.element {
  position: relative;

  background-color: var(--el-color);
  border-radius: var(--border-radius);
  color: var(--txt-color);

  border: 2px solid lightgray;
  /* margin: 0.5rem; */

  /* Fade */
  transition: background-color 0.5s;
}

.element::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  border-radius: inherit;
  box-shadow: 0 0 6px #bbbbbb;
  padding: 0.5rem;
  z-index: -1;
}

.element.clickable {
  cursor: pointer;
}

.element.clickable::before {
  background-size: 200% 200%;
  background-position: 100% 0%;
  background-image: linear-gradient(
    45deg,
    var(--1c) 0%,
    var(--2c) 50%,
    transparent 50%
  );
  transition: background-position 0.2s, opacity 0.1s;
}

.element.clickable:hover::before,
.element.clickable.current-day::before {
  background-position: 0% 100%;
}

.element.clickable:active::before {
  opacity: 0.5;
}

.activities-view {
  width: 100%;
  height: 40vh;
  grid-template: 1fr / repeat(7, 1fr);
  gap: inherit;
}

.activities {
  height: 100%;
  grid-area: span 1 / span 4;
}

.details {
  grid-area: span 1 / span 3;
  height: 100%;
  z-index: 10;
}

.week {
  width: 100%;

  grid-template: 1fr / repeat(7, 1fr);
  gap: inherit;
}

.day {
  grid-area: span 1;
  aspect-ratio: 1;

  font-size: 2rem;
  font-weight: bold;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
}

.has-activities {
  color: var(--txt-color);
}

.quick-summary {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: inherit;
}

.today,
.tomorrow {
  padding: 0.5rem;
  position: relative;
}

.today li,
.tomorrow li {
  list-style: none;
}

@media screen and (max-width: 850px) {
  .nav-content {
    padding: 1rem 2rem;
  }

  .activities-view {
    grid-template: 1fr / repeat(4, 1fr);
    grid-template-areas: "m m m m";
  }

  .activities,
  .details {
    grid-area: m;
  }

  .details {
    display: none;
  }
}
