.container {
  width: min(1200px, 95vw);
  height: fit-content;

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  gap: var(--grid-gap);
}

.double-outline {
  position: relative;

  background-color: var(--el-color);
  border-radius: var(--border-radius);
  color: var(--txt-color);

  border: var(--border);

  /* Fade */
  transition: background-color 0.5s;
}

.double-outline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  border-radius: inherit;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  z-index: -1;
}

.activities-view {
  width: 100%;
  height: 40vh;
  grid-template: 1fr / repeat(7, 1fr);
  gap: inherit;
  position: relative;
}

.activities {
  height: 100%;
  grid-area: span 1 / span 4;
}

.activities table {
  width: 100%;
  height: 100%;
}

.activities tr {
  cursor: pointer;
}

.activities tr:hover {
  background-color: var(--shadow-color);
}

.activities tr:first-of-type:hover,
.activities tr:last-of-type:hover {
  background-color: var(--el-color);
  cursor: initial;
}

.activities th,
.activities td {
  border: var(--border-width) solid var(--shadow-color);
  padding: 0.2rem 0.4rem;
}

.activities th:last-of-type,
.activities td:last-of-type {
  border-right-width: 0;
  width: 20%;
  text-align: center;
}

.activities th {
  border-top-width: 0;
  border-left-width: 0;
}

.activities td {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.activities td:first-of-type {
  text-align: center;
  padding-left: 1rem;
}

.signed-up {
  position: relative;
}

.signed-up::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;

  position: absolute;
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);

  background-image: linear-gradient(45deg, var(--1c), var(--2c));
  border-radius: 50%;
}

.activities .excess {
  height: 100%;
}

.details-placeholder {
  position: absolute;
  grid-column-start: 5;
  width: 100%;
  height: 100%;
  z-index: -10;

  border: var(--border);
  border-radius: var(--border-radius);

  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-placeholder p {
  opacity: 0.4;
  width: 75%;
}

.details {
  grid-area: span 1 / span 3;
  height: 100%;
  z-index: 10;
  position: relative;
  display: none;

  flex-direction: column;
  justify-content: center;
}

.details .info {
  margin: 0 2rem;
}

.info .register-btn {
  padding: 0.4rem 2rem;
  margin: 1rem 0;

  border-radius: var(--border-radius);
  border: var(--border);

  font-weight: bold;
  cursor: pointer;

  background-size: 201% 100%;
  background-position-x: 100%;
  background-image: linear-gradient(
    to right,
    var(--1c) 0%,
    var(--2c) 50%,
    #e9e9e9 50%
  );

  transition: background-position-x 0.2s, color 0.1s;
}

.register-btn:hover,
.register-btn:focus {
  background-position-x: 0%;
  color: #e9e9e9;
}

.close-btn {
  display: none;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background-color: var(--el-color);

  border-radius: 50%;
  border: 0.2rem solid var(--shadow-color);
  box-shadow: 0 0 3px var(--txt-color);

  width: 1.2rem;
  aspect-ratio: 1;
  z-index: 11;
  transform: rotate(45deg);

  cursor: pointer;
}

.week {
  width: 100%;

  grid-template: 1fr / repeat(7, 1fr);
  gap: inherit;
}

.day {
  grid-area: span 1;
  padding: 0.5rem 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
  cursor: pointer;
}

.day::before {
  background-size: 200% 200%;
  background-position: 100% 0%;
  background-image: linear-gradient(
    45deg,
    var(--1c) 0%,
    var(--2c) 50%,
    transparent 50%
  );
  transition: background-position 0.2s, opacity 0.1s;
}

.day:hover::before,
.day:focus::before {
  background-position: 0% 100%;
}

.day:active::before {
  filter: saturate(120%);
}

.has-activities {
  color: var(--txt-color);
}

.day-name {
  --font-size: 1.2rem;
  font-size: var(--font-size);
  font-weight: bold;
}

.day-name::first-letter {
  font-size: var(--font-size);
}

.quick-summary {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: inherit;
}

.today,
.tomorrow {
  padding: 0.5rem;
  position: relative;
}

.today li,
.tomorrow li {
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .day {
    padding: 0;
  }

  .day-name {
    font-size: 0rem;
  }

  .day-name::first-letter {
    font-size: 2rem;
  }
}

@media screen and (max-width: 815px) {
  .nav-content {
    padding: 1rem 2rem;
  }

  .activities-view {
    grid-template: 1fr / repeat(4, 1fr);
    grid-template-areas: "m m m m";
  }
  .activities,
  .details-placeholder,
  .details {
    grid-area: m;
  }

  .details {
    background: linear-gradient(to right, var(--el-color) 0% 40%, transparent);
  }

  .close-btn {
    display: block;
  }
}
